@import url('https://fonts.googleapis.com/css?family=Ubuntu');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.bg {
    background: url(https://images.squarespace-cdn.com/content/v1/51b3dc8ee4b051b96ceb10de/1566603524193-4UP2I7JI8N4U3SHS00UQ/image-asset.jpeg) no-repeat center center/cover;
    position: absolute;
    top: -30;
    left: -30;
    width: calc(100vw + 60px);
    height: calc(100vh + 60px);
    z-index: -1;
    filter: blur(30px);
}

.loading-text {
    font-size: 50px;
    color: aliceblue;
}
